#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.error-container {
  position: fixed;
  top: 8px;
  left: 5%;
  width: 90%;
  z-index: 2;
}
.todo-list .todos {
  margin-top: 1em;
}
button, i.edit, i.trash {
  cursor: pointer;
}
i.save {
  padding-left: 0.3em;
}
.ui.pointing.secondary.menu {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}
.transition-fade {
  transition: opacity .5s;
}
.transition-fade-enter,
.transition-fade-leave-to {
  transform: scale(0);
  opacity: 0;
}
.transition-fade-leave,
.transition-fade-enter-to {
  // transform: none;
  transform: scale(1);
  opacity: 1;
}
.transition-fade-move {
  opacity: 1;
  transition: all 0.5s;
}
.hidden {
  position: absolute;
  top: -99999999px;
}
